*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    padding:2rem;
    background-color: #A5B68D;

}
body>*{
    margin: 2rem;
}
button{
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 152, 0);
    font-size: large;
    font-weight: bolder;
    transition: box-shadow 0.2s ease;
}
button:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}