*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
ul{
  display: flex;
  justify-content: space-between;
}
header{
  padding: 20px;
  background-color: #111827;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
}
.admin{
  display: flex;
  align-items: center;
}
.admin>img{
  border-radius: 50%;
  width: 50px;
  margin-right: 5px;
}
/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
  background-color: rgb(238, 238, 238);
}
.container{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
  width: 80%;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

th,
td {
  padding: 20px;
}
button:hover{
  cursor: pointer;
}
button:active{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#get-all{
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: #28A745;
}
#get-all:active{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 5px;
  display: flex;
  min-height: 30px;
  margin: 10px 0;
  padding: 20px;
  justify-content: space-between;
  font-size: large;
}
.card>{
  /*align-items: flex-start;*/
  text-align: center;

}
.button-container>*{
  padding: 5px 10px;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;

}
#edit{
  background-color: #007BFF;
}
#delete{
  background-color: #DC3545;
}
button>img{
  height: 20px;
  width: 20px;
  align-items: center;
}
